* {
  box-sizing: border-box;
}

body {
  background-color: #1b263b;
  color: #1b263b;
  text-align: center;
}

.logo {
  margin: 0 0 -5px 15px;
  position: relative;
  font-size: 3em;
  line-height: 0.75em;
}

.App,
.Input {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.App {
  width: 345px;
  text-align: left;
  margin-top: 25px;
  border-radius: 3px;
  padding: 10px;
  background-color: #e5e5e5;
  box-shadow: 0px 0px 50px #080b11;
}

.Input {
  border-radius: 3px;
  background-color: white;
  padding: 30px 15px 15px 15px;
  text-align: center;
  align-items: center;
  gap: 15px;
}

.Output {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  font-family: 'Nunito', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.3s linear;
}

.Output_transition {
  visibility: visible !important;
  opacity: 1 !important;
  transition: visibility 0s, opacity 0.3s linear;
}

.Output h2 {
  width: 100%;
  background-color: #283957;
  color: #e5e5e5;
  text-shadow: 1px 1px 1px #1b263b;
  padding: 20px 15px 15px 15px;
  border-radius: 3px;
  font-weight: 500;
  margin: 0;
}

.mb {
  margin-bottom: 5px;
}
.super-sm {
  font-size: 0.6em;
  margin: 0 0 30px 0;
}

.Input-labels {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select {
  width: 100%;
  padding: 15px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1em;
  font-weight: 500;
  color: #404040;
  text-align: center !important;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  border-radius: 3px;
}

select {
  appearance: none;
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input:focus,
select:focus {
  border: 1px solid #fca311;
  outline: none;
}

label {
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  font-size: 0.8em;
  top: 9px;
  background-color: #fff;
  padding: 0px 5px;
  font-family: 'Nunito', sans-serif;
  z-index: 1;
}

button {
  width: 180px;
  margin: 15px 0px;
  padding: 15px;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #fca311;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 0.9em;
  color: #1b263b;
  cursor: pointer;
}

button:hover {
  background-color: #fd8712;
}

.submit {
  display: flex;
  text-align: right;
  justify-content: right;
  align-items: flex-end;
}

.yellow {
  color: #fca311;
  text-shadow: 1px 1px 1px white;
}

.rotate {
  position: relative;
  top: -2px;
  transform: rotate(180deg);
  font-size: 1.2em;
}

.result {
  background-color: white;
  color: #1b263b;
  border-radius: 3px;
}

.credits {
  color: #e5e5e5;
  font-weight: 300;
  font-size: 0.8em;
  margin: 15px;
  font-family: 'Nunito', sans-serif;
  z-index: 1;
}

/* .credits a,
.credits a:visited {
  text-decoration: none;
  color: #e5e5e5;
} */

.credits:hover {
  color: #fca311;
}

.empty-bg {
  border: tomato 2px solid;
  box-shadow: 0px 0px 2px tomato;
}
